body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #640f3f; /* Fallback color */
  background-image: linear-gradient(to right top, #051937, #0c152b, #0e1121, #0b0c16, #060607);}
